@model SearchModel

<div class="text-center p-3" name="search">
    <form asp-controller="PLists" asp-action="Search" method="get">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Number" placeholder="Пътен лист №" />
        <label asp-display-name-for="Data"></label>
        <input asp-for="Data" />
        <input type="submit" value="Търси" />
    </form>
</div>
