@model ZastrahovkaModel

@Html.Partial("_Head", Model)
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select asp-for="MotoId" class ="form-control" asp-items="ViewBag.MotoId">
                    <option value="">Избери автомобил</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DataStart" class="control-label"></label>
                <input asp-for="DataStart" class="form-control" />
                <span asp-validation-for="DataStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEnd" class="control-label"></label>
                <input asp-for="DataEnd" class="form-control date-input" />
                <span asp-validation-for="DataEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipZastrahovkaId" class="control-label"></label>
                <select asp-for="TipZastrahovkaId" asp-items="Html.GetEnumSelectList<TipZastrahovkaId>()" class="form-control"></select>
                <span asp-validation-for="TipZastrahovkaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добави" class="btn btn-primary" />
            </div>
        </form>
@Html.Partial("_CreateFoot")
