@model PListModel

@{
    ViewData["Title"] = "Нов пътен лист";
}

<h1 class="m-3">@ViewData["Title"]</h1>

<div class="row m-3">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group m-3">
                <select asp-for="Moto" class="form-control" asp-items="ViewBag.Motos">
                    <option value="0">Автомобил</option>
                </select>
                <span asp-validation-for="Moto" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <select asp-for="Slujitel" class="form-control" asp-items="ViewBag.Slujiteli">
                    <option value="0">Шофьор</option>
                </select>
                <span asp-validation-for="Slujitel" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <input asp-for="Number" class="form-control" onfocus="this.value=''" value="Пътен лист №" />
                <span asp-validation-for="Number" class="text-danger"></span>            
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control date-input" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>

            <div class="form-group m-3">
                <input type="submit" value="Запис" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="m-3">
    <a asp-action="Index">Списък</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
