@model PListModel
<partial name="_Head" />
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="col-4">
                <div class="form-group mb-3">
                    <select asp-for="MotoId" class="form-control" asp-items="ViewBag.Motos">
                        <option value="0">Автомобил</option>
                    </select>
                    <span asp-validation-for="MotoId" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <input asp-for="Number" class="form-control" />
                    <span asp-validation-for="Number" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group mb-3">
                    <select asp-for="SlujitelId" class="form-control" asp-items="ViewBag.Slujiteli">
                        <option value="0">Шофьор</option>
                    </select>
                    <span asp-validation-for="SlujitelId" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <input asp-for="Data" class="form-control date-input" />
                    <span asp-validation-for="Data" class="text-danger"></span>
                </div>
            </div>

            <div>
                <table class="transaks-table">
                    <tr>
                        <th>Описание км</th>
                        <th>Отдел</th>
                        <th>км</th>
                    </tr>
                    @for(int i = 0; i < Model.TransaksModel.Count; i++)
                    {
                        <input type="hidden" asp-for="TransaksModel[i].Id" />
                        <tr>
                            <td>
                                <select asp-for="TransaksModel[i].KmId" class="form-control" asp-items="Html.GetEnumSelectList<KmId>()">
                                    <option>Вид движение</option>
                                </select>
                            </td>
                            <td>
                                <select asp-for="TransaksModel[i].OtdelId" class="form-control" asp-items="ViewBag.Otdeli">
                                    <option>Отдел</option>
                                </select>
                            </td>
                            <td><input asp-for="TransaksModel[i].KmKm" /></td>
                        </tr>
                    }
                </table>
                <button type="button" id="addRow" class="float-end" onclick="newRow()">Добави ред</button>
            </div>

            <div class="form-group m-3">
                <input type="submit" value="Запис" class="btn btn-primary" />
            </div>
        </div>
    </form>
@Html.Partial("_EditFoot", Model)

<script>
    let rowIndex = @Model.TransaksModel.Count;
</script>
